/* ----- Colors ----- */

/*  
    Background body (azul claro, quase branco): hsl(248, 89%, 93%);
    Background header, color links texto, color hover "Saiba mais!" (azul escuro): hsl(202, 93%, 22%);
    Background índice livros (laranja claro): hsl(28, 100%, 63%);
    Barra de progresso (verde limão): hsl(120, 76%, 53%);
    Color header, color "Saiba mais!", background hover "Saiba mais!" (branco): hsl(0, 0%, 100%);
    Color texto, índice e porcentagem barra de progresso (preto): hsl(0, 0%, 8%);
    Hover e border-bottom header (verde kentucky): hsl(176, 58%, 31%)
*/


/* ----- Fonts ----- */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/* font-family: 'Lato', sans-serif */


/* ----- Reseting default styles ----- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ---------- Global ---------- */

body {
    font-family: 'Lato', sans-serif;
    color: hsl(0, 0%, 8%);
    background-color: hsl(248, 100%, 97%);
}

a {
  font-weight: 700;
  text-decoration: none;
}


/* ---------- Header ---------- */

.home-title, 
.menu-item, 
.menu-short-icon, 
.menu-short-item {
    color: hsl(0, 0%, 100%);
}

.menu {
    display: flex;
        align-items: center;
        justify-content: space-between;
    border-bottom: ridge 5px hsl(176, 58%, 31%);
    margin-bottom: 40px;
    height: 70px;
    background-color: hsl(202, 93%, 22%);
}

.home {
    display: flex;
        align-items: center;
        gap: 30px;
    margin-left: 30px;
}

.home-img-link {
    display: flex;
}

.home-img {
    width: 44px;
    border-radius: 50%;
}

.home-title {
    font-size: 26px;
}

.menu-options {
    display: flex;
}

.menu-item, 
.menu-short-icon, 
.menu-short-item  {
    font-size: 17px;
}

.menu-item  {
    padding: 23px 15px;
}

.menu-short-item  {
    padding: 15px;
}

.menu-short-icon  {
    display: none;
    padding: 23px;
}

.menu-item:hover, 
.menu-short-icon:hover, 
.menu-short-item:hover {
    background-color: hsl(176, 58%, 31%);
}

.menu-item:nth-child(1) {
    background-color: hsl(176, 58%, 31%);
}

.menu-short-options {
    position: absolute;
        top: 66px;
        right: 0px;
    z-index: 2;
    display: flex;
        flex-direction: column;
    width: 130px;
    background-color: hsl(202, 93%, 22%);
    border: 2px solid hsl(176, 58%, 31%);
}

.menu-short-show {
  display: none;
}


/* ---------- Library 2022 ---------- */

/* ----- Intro ----- */

.intro {
  margin-bottom: 30px;
}

.intro-text {
  font-size: 16px;
  line-height: 1.5;
  margin-left: 5%;
  margin-right: 5%;
}

.intro-link {
  color: hsl(202, 93%, 22%);
}

.intro-link:hover {
 text-decoration: underline;
}

#books2022 {
  display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  margin: auto;
  width: 95%;
}

/* ----- Books ----- */

.library {
    display: flex;
        align-items: center;
        flex-direction: column;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 290px;
    text-align: center;
}

.book {
    position: relative;
}

.book-index {
    position: absolute;
      left: -25px;
      top: -25px;
    display: flex;
        align-items: center;
        justify-content: center;
    height: 47px;
    width: 47px;
    color: hsl(0, 0%, 8%);
    font-size: 20px;
    font-weight: 700;
    background-color: hsl(28, 100%, 63%);
    border-radius: 50%;
    box-shadow: 1px 1px 5px 0px hsl(0deg 0% 8%);
}

.book-cover {
    margin-bottom: 10px;
    height: 220px;
    width: 150px;
    border-radius: 7px;
}

.book-info-list {
    margin-bottom: 10px;
    list-style: none;
}

.info-title {
    font-weight: 700;
}

.book-title-author {
    font-size: 13px;
}

.button-more-info, 
.back-button {
    padding: 3px;
    width: 150px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: hsl(0, 0%, 100%);
    background-color: hsl(202, 93%, 22%);
    border: solid 2px hsl(0, 0%, 8%);
    border-radius: 10px;
    cursor: pointer;
}

.button-more-info:hover, 
.back-button:hover {
    color: hsl(202, 93%, 22%);
    font-weight: bold;
    background-color: hsl(0, 0%, 100%);
}


/* ---------- Footer ---------- */

.contact {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
    text-align: center;
    border-top: solid 1px hsl(0, 0%, 8%);
}

.contact-intro {
    margin-bottom: 10px;
    margin-top: 15px;
}

.contact-link {
    margin-left: 10px;
    margin-right: 10px;
    color: hsl(0, 0%, 8%);
    font-size: 14px;
}


/* ---------- Saiba Mais! ---------- */

#more-info {
    display:none;
    /* display: flex; */
        align-items: center;
        gap: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 90%;
}

.back-button {
    display: none;
    margin-left: 5%;
    margin-right: 5%;
}

.more-info-cover {
    width: 200px;
}

.extra-info-item, 
.more-info-item {
    font-size: 15px;
}

.more-info-book {
    min-width: 30%;
}

.more-info-item {
    list-style: none;
    margin-bottom: 10px;
}

.extra-info {
    margin-left: 10px;
}

.extra-info-item {
    margin-bottom: 10px;
}

.progress 
.extra-info-item {
    display: inline-block;
}

.progress-bar-background {
    box-sizing: content-box;
    display: inline-block;
        text-align: center;
    margin-left: 10px;
    width: 200px;
    border: solid 1px hsl(0, 0%, 8%);
}

.progress-bar-status {
    position: relative;
    background-color: hsl(120, 76%, 53%);
}

.extra-citation, 
.cite1, 
.cite2, 
.cite3 {
    margin-bottom: 7px;
    font-size: 13px;
    font-style: italic;
    line-height: 1.3;
}

.see-more-citation {
    margin-bottom: 5px;
    font-style: normal;
}


/* ---------- Responsiveness ---------- */

@media (max-width: 900px) {

    #more-info {
        flex-wrap: wrap;
        justify-content: center;
    }

    .extra-info {
        margin-left: 0px;
        margin-top: 20px;
        width: 550px;
    }

}

@media (max-width: 800px) {

    .menu-item {
        display: none;
    }

    .menu-short-icon {
        display: block;
        font-size: 18px;
    }

    .menu-short-item {
        font-size: 15px;
    }

}

@media (max-width: 600px) {

    #more-info {
        margin-top: 10%;
    }

    .more-info-book {
        width: 90%;
    }
    
    .extra-info {
        margin-top: 0px;
        width: 90%;
    }

}

@media (max-width: 420px) {
    
    .menu {
        height: 60px;
        margin-bottom: 20px;
    }
    
    .home {
        gap: 10px;
        margin-left: 20px;
    }
    
    .home-img {
        width: 40px;
    }
    
    .home-title {
        font-size: 23px;
    }

    .menu-short-icon {
        padding: 18px;
    }

    .menu-short-options {
        top: 55px;
        right: 0px;
    }

    .intro-text {
        font-size: 15px;
    }

    .contact {
        width: 80%;
        margin: 30px auto;
    }

}

@media (max-width: 350px) {

    .home {
        margin-left: 0;
    }

    .home-img {
        display: none;
    }

    .home-title {
        font-size: 21px;
    }

    .more-info-item, 
    .extra-info-item {
        font-size: 14px;
    }

    .progress {
        display: flex;
        align-items: flex-start;
    }

    .progress-bar-background {
        margin-bottom: 12px;
        margin-left: 5px;
    }

}

@media (max-width: 280px) {

    .contact-intro, 
    .contact-link {
        font-size: 13px;
    }

    .contact-link {
        margin-left: 9px;
        margin-right: 9px;
    }

}
