/* ----- Colors ----- */

/* --baby-powder: hsl(105, 20%, 96%);
--viridian-green: hsl(176, 54%, 40%);
--sapphire-blue: hsl(202, 93%, 30%);
--deep-saffron: hsl(28, 100%, 63%);
--eerie-black: hsl(0, 0%, 8%); 
  background-color: hsl(248, 89%, 93%);*/


/* ----- Fonts ----- */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/* font-family: 'Lato', sans-serif */


/* ----- Reseting default styles ----- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ---------- Global ---------- */

body {
    font-family: 'Lato', sans-serif;
    color: hsl(0, 0%, 8%);
    background-color: hsl(248, 89%, 93%);
    }

a {
    font-weight: 700;
    text-decoration: none;
}


/* ---------- Header ---------- */

.home-title, 
.menu-item, 
.menu-short-icon, 
.menu-short-item {
    color: hsl(105, 20%, 96%);
}

.menu {
    display: flex;
        align-items: center;
        justify-content: space-between;
    border-bottom: ridge 5px hsl(176, 54%, 40%);
    margin-bottom: 40px;
    height: 70px;
    background-color: hsl(202, 93%, 30%);
}

.home {
    display: flex;
        align-items: center;
        gap: 30px;
    margin-left: 30px;
}

.home-img-link {
    display: flex;
}

.home-img {
    width: 44px;
    border-radius: 50%;
}

.home-title {
    font-size: 26px;
}

.menu-options {
    display: flex;
}

.menu-item, 
.menu-short-icon, 
.menu-short-item  {
    font-size: 17px;
}

.menu-item  {
    padding: 23px 15px;
}

.menu-short-item  {
    padding: 15px;
}

.menu-short-icon  {
    padding: 23px;
}

.menu-item:hover, 
.menu-short-icon:hover, 
.menu-short-item:hover {
    background-color: hsl(176, 54%, 40%);
}

.menu-item:nth-child(4) {
    background-color: hsl(176, 54%, 40%);
}

.menu-short-icon {
  display: none;
}

.menu-short-options {
    position: absolute;
        top: 66px;
        right: 0px;
    z-index: 2;
    display: flex;
        flex-direction: column;
    width: 130px;
    background-color: hsl(202, 93%, 30%);
    border: 2px solid hsl(176, 54%, 40%);
}

.toggle {
  display: none;
}

/* ---------- Library Vem Aí ---------- */

/* ----- Intro ----- */

.intro {
    margin-bottom: 30px;
}

.intro-text {
    font-size: 16px;
    line-height: 2;
    margin-left: 5%;
    margin-right: 5%;
}

.intro-link {
    color: hsl(202, 93%, 30%);
}
  
.intro-link:hover {
color: hsl(28, 100%, 63%);
}

#books-vem-ai {
    display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    margin: auto;
    width: 95%;
}

/* ----- Books ----- */

.library {
    display: flex;
        align-items: center;
        flex-direction: column;
    margin-bottom: 30px;
    margin-top: 15px;
    width: 290px;
    text-align: center;
}

.book-cover {
    margin-bottom: 10px;
    height: 220px;
    width: 150px;
    border-radius: 7px;
}

.book-info-list {
    margin-bottom: 10px;
    list-style: none;
}

.info-title {
    font-weight: 700;
}

.book-title-author {
    font-size: 13px;
}

.button-more-info, 
.back-button {
    padding: 3px;
    width: 150px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: hsl(105, 20%, 96%);
    background-color: hsl(202, 94%, 30%);
    border: solid 2px hsl(0, 0%, 8%);
    border-radius: 10px;
    cursor: pointer;
}

.button-more-info:hover, 
.back-button:hover {
    color: hsl(202, 94%, 30%);
    font-weight: bold;
    background-color: hsl(105, 20%, 96%);
}

/* ---------- Footer ---------- */

.contact {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
    text-align: center;
    border-top: solid 1px hsl(0, 0%, 8%);
}

.contact-intro {
    margin-bottom: 10px;
    margin-top: 15px;
}

.contact-link {
    margin-left: 10px;
    margin-right: 10px;
    color: hsl(0, 0%, 8%);
    font-size: 14px;
}


/* ---------- Saiba Mais! ---------- */

#more-info {
    display:none;
    /* display: flex; */
        gap: 30px;
        align-items: center;
        justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 90%;
}

.back-button {
    display: none;
    margin-left: 5%;
    margin-right: 5%;
}

.more-info-cover {
    width: 200px;
}

.extra-info-item, 
.more-info-item {
    font-size: 16px;
}

.more-info-book {
    min-width: 30%;
}

.more-info-item {
    list-style: none;
    margin-bottom: 10px;
}


/* ---------- Responsiveness ---------- */

@media (max-width: 800px) {

    .menu-item {
        display: none;
    }

    .menu-short-icon {
        display: block;
        font-size: 18px;
    }

    .menu-short-item {
        font-size: 15px;
    }

}

@media (max-width: 600px) {

    #more-info {
        flex-direction: column;
        justify-content: center;
        margin-top: 10%;
    }

}

@media (max-width: 420px) {
  
    .menu {
        height: 60px;
        margin-bottom: 20px;
    }

    .home {
        gap: 10px;
        margin-left: 20px;
    }

    .home-img {
        width: 40px;
    }
    
    .home-title {
        font-size: 23px;
    }
    
    .menu-short-options {
        top: 55px;
        right: 0px;
    }

    .intro {
        margin-bottom: 10px;
    }

    .intro-text {
        font-size: 15px;
    }

    .contact {
        width: 80%;
        margin: 30px auto;
    }

}

@media (max-width: 350px) {

    .home {
        margin-left: 0;
    }

    .home-img {
        display: none;
    }

    .home-title {
        font-size: 21px;
    }

    .more-info-item {
        font-size: 14px;
    }

    .more-info-cover {
        width: 150px;
    }

}

@media (max-width: 280px) {

    .contact-intro, 
    .contact-link {
        font-size: 13px;
    }

    .contact-link {
        margin-left: 9px;
        margin-right: 9px;
    }

}